.container {
    width: 100vw;
    padding: 20px 15px;
    margin: 0 auto;
}

.container.block-scroll {
    overflow: hidden;
    position: fixed;
}

.header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.title {
    flex: 1;
    font-size: 2rem;
    margin-bottom: 10px;
}

.btn-header {
    border: none;
    outline: none;
    padding: 10px;
    margin: 0 5px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
}

.btn-primary {
    background-color: #506AD4;
    color: white;
}

.btn-outline {
    border: 1px solid #506AD4 ;
    color: #506AD4;
}

.btn-header:hover {
    transform: translateY(-5px);
    transition: 0.1s linear;
}

.cards-grid {
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    align-items: flex-start;
}

.img-container {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-no-post {
    width: 60%;
    margin: 0 auto;
}